* {
  transition: all 0.5s ease-out;
}

body {
  color: white;
  padding: 15px;
  background: linear-gradient(0.25turn, #174e01, #02658b);
}

.img_header {
  display: block;
  margin: auto;
  width: 60%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

li {
  padding: 10px;
  list-style-type: none;
  text-align: center;
}

.div_button {
  display: flex;
  justify-content: center;
}

.load_more_button {
  padding: 0px 5% 0px 5%;
  width: auto;
  height: auto;
  cursor: pointer;
  background: linear-gradient(0.25turn, #02658b, #174e01);
  font-size: 2.5vw;
  color: white;
}

.load_more_button:hover {
  background: linear-gradient(0.25turn, #0084b8, #268500);
}
