.character {
  cursor: pointer;
  position: relative;
}

.character:hover {
  transform: scale(1.1);
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.name_container {
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 4.5%;
  height: 10%;
  width: 100%;
}

span {
  font-size: 1.5vw;
  text-align: center;
  vertical-align: text-top;
}
